protocols {
{% for k, v in host.info.protocols.items() %}
    {{ k }} {
        reference-bandwidth {{ v["ref_band"] }};
{% for k, v in v["areas"].items() %}
        area {{ k }} {
{% for interface in v["interfaces"] %}
{% if interface.passive is defined %}
            interface {{ interface.name }} {
                passive;
            }
{% else %}
            interface {{ interface.name }};
{% endif %}
{% endfor %}
        }
    }
{% endfor %}
{% endfor %}
}